<ol class="breadcrumb">
  <li>
    <%= link_to_if can?(:read, @institution), @institution.to_s, @institution %>
  </li>
  <% unless @grade.new_record? %>
    <li class="active"><%= @grade %></li>
  <% end %>
</ol>
