<%= render 'breadcrumb' %>

<div class="readonly_data">
  <h2><%= @grade %></h2>
</div>

<nav class="form-actions">
  <%= link_to t('label.edit'), edit_school_grade_path(@school, @grade), class: 'btn btn-primary' %>
  <div class="pull-right">
    <%= link_to t('label.list'), school_grades_path(@school) %>
  </div>
</nav>