<div class="modal fade" id="markdown-help">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">&times;</button>
    <h2>Markdown</h2>
  </div>
  <div class="modal-body">
    <div class="row-fluid">
      <div class="span6">
        <h3>Texto</h3>

        <h5>Encabezados</h5>
        <pre>
# Título primario
## Título de segundo nivel
###### Título de nivel 6
        </pre>

        <h5>Estilos de texto</h5>
        <pre>
*Texto en cursiva*
_También en cursiva_
**Texto en negrita**
__También en negrita__

*Puedes **combinarlos** así*
        </pre>
      </div>
      <div class="span6">
        <h3>Listas</h3>

        <h5>Desordenadas</h5>
        <pre>
* Item 1
* Item 2
  * Item 2a
  * Item 2b
        </pre>

        <h5>Ordenadas</h5>
        <pre>
1. Item 1
2. Item 2
3. Item 3
  * Item 3a
  * Item 3b
        </pre>

      </div>
    </div>

    <hr />

    <div class="row-fluid">
      <div class="span12">
        <h3>Varios</h3>

        <h5>Imágenes</h5>
        <pre>
![Imagen de prueba](/imagenes/prueba.gif)
Formato: ![Texto alternativo](ruta)
        </pre>

        <h5>Enlaces</h5>
        <pre>
https://libreduca.com - ¡Automático!
[Libreduca](https://libreduca.com)
        </pre>

        <h5>Citaciones</h5>
        <pre>
Como dijo Kayne West:

&gt; Estamos viviendo el futuro
&gt; entonces el presente es nuestro pasado.
        </pre>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal">Cerrar</button>
  </div>
</div>
