<div class="modal hide fade" id="email_modal">
  <div class="modal-header">
    <a class="close" data-dismiss="modal">&times;</a>
    <h3>
      <%= t('view.teaches.email_scores.header.html') %>
    </h3>
  </div>
  <div class="modal-body">
    <p>
      <%= t('view.teaches.email_scores.body.html', course: course) %>
    </p>
  </div>
  <div class="modal-footer">
    <a href="#" class="btn" data-dismiss="modal"><%= t('label.close') %></a>
    <%= link_to(
      t('label.send'),
      send_email_summary_teach_path(teach, format: :html),
      class: 'btn btn-primary send_email_summary', method: :post, remote: true,
      data: {
        'loading-text' => t('label.sending'), 'complete-text' => t('label.sent')
      }
    ) %>
  </div>
</div>
