<% @institutions.each_slice(2) do |institutions| %>
  <div class="row">
    <div class="span1"></div>
    <% institutions.each do |institution| %>
      <div class="span5">
        <div class="well">
          <h3>
            <%= link_to institution, page_url(id: institution.id) %>
          </h3>
        </div>
      </div>
    <% end %>
    <div class="span1"></div>
  </div>
<% end %>

<nav class="form-actions"></nav>
