<% @institutions.each_slice(2) do |institutions| %>
  <div class="row">
    <% institutions.each do |institution| %>
      <div class="col-md-6">
        <div class="well">
          <h3>
            <%= link_to(
              institution, dashboard_url(subdomain: institution.identification)
            ) %>
          </h3>
        </div>
      </div>
    <% end %>
  </div>
<% end %>

<nav class="form-actions"></nav>
