<div class="page-header">
  <h2><%= @title %></h2>
</div>

<% if @users.empty? %>
  <div class="alert alert-warning">
    <%= t('view.charts.empty_index') %>
  </div>
<% else %>
  <%= chart_users_row(@users) %>
<% end %>

<div class="form-actions"></div>
