<h3><%= Document.model_name.human(count: @content.documents.size) %></h3>

<ul data-no-turbolink>
  <% @content.documents.each do |document| %>
    <li>
      <%= link_to_if can?(:read, document), document, document.file_url %>
      (<%= number_to_human_size document.file_size %>)
    </li>
  <% end %>
</ul>
