<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <h3>Reenviar instrucciones de confirmación</h3>

    <%= simple_form_for(
      resource, as: resource_name, url: confirmation_path(resource_name),
      html: { method: :post }) do |f| %>

      <div class="form-inputs">
        <%= f.input :email, input_html: { autofocus: true } %>
      </div>

      <div class="form-actions">
        <%= f.submit 'Reenviar instrucciones', class: 'btn btn-primary' %>
      </div>
    <% end %>
  </div>
</div>
