<div class="alert alert-warning">
  <h4><%= Question.model_name.human(count: 1) %></h4>
  <ul><li><%= @reply.question %></li></ul>

  <h4><%= Reply.model_name.human(count: 1) %></h4>
  <ul><li><%= @reply.response.present? ? @reply.response : @reply.answer %></li></ul>
</div>
