<h2>Hola <strong><%= @resource.name %></strong>,</h2>                                                          
  
<p>Alguien ha pedido cambiar tu contrase침a, su c칩digo de seguridad es:</p>

<pre class="hero-unit"><%= @resource.reset_password_token %></pre>

<p>Si no lo pediste, puedes ignorar este correo.</p>
<p>Tu contrase침a no cambia a menos que uses el c칩digo anterior.</p>
