<h2>Hola <strong><%= @resource.name %></strong>,</h2>

<p>Bienvenido a Libreduca, su código de seguridad es el siguiente:</p>

<pre class="hero-unit"><%= @resource.reset_password_token %></pre>

<p>Si no lo pediste, puedes ignorar este correo.</p>
<p>Tu contraseña no cambia a menos que uses el código anterior.</p>
