<% @comment = @commentable.comments.select(&:new_record?).try(:first) || @commentable.comments.build %>
<%= simple_form_for([@commentable, @comment], remote: true) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :comment, label: false, input_html: {
      rows: 2, class: 'span12',
      placeholder: Comment.human_attribute_name('comment')
    } %>

    <%= f.button :submit %>
  </div>
<% end %>
