<div id="comments"></div>
<hr />
<h3><%= Comment.model_name.human(count: @comments.size) %></h3>

<%= render @comments %>

<%= render 'comments/pagination', :@comments => @comments %>

<%= render template: 'comments/new',                                                                                                                
    locals: { :@comment => @commentable.comments.build, :@commentable => @commentable } %>
