<div id="comments">
  <hr />
  <h3 id="comments-header">
    <%= Comment.model_name.human(count: @comments.size) %>
  </h3>

  <%= render @comments %>

  <%= render 'comments/pagination', :@comments => @comments %>
</div>

<%= render template: 'comments/new', locals: { :@commentable => @commentable } %>
