<%= simple_form_for([@content, @homework, @presentation], html: { id: nil }, defaults: { input_html: { id: nil } }) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :file, input_html: {
      id: "presentation_file_#{@homework.to_param}",
      data: { 'fileupload' => true, 'fileupload-autosubmit' => true }
    } %>
  </div>
<% end %>

<%= render 'shared/template_upload' %>
