<%= t(
  'view.contents.presentations.presented.html',
  link: link_to(@presentation.file.file.identifier, @presentation.file.url)
) %>

<span class="muted">
  | <%= link_to_comments(
    @presentation, presentation_comments_path(@presentation)
  ) if can? :read, @presentation %>
</span>
