<h2>
  <%= t('notifier.new_enrollment.greeting.html', user: @enrollment.user.name) %>
</h2>

<p>
  <%= t(
    'notifier.new_enrollment.teach.html',
    course: @enrollment.course
  ) %>
</p>

<p>
  <%= t(
    'notifier.new_enrollment.teach_details.html',
    start: l(@enrollment.teach.start, format: :long),
    finish: l(@enrollment.teach.finish, format: :long)
  ) %>
</p>

<%= render 'footer' %>
