<div class="row">
  <div class="public_form_container span10 offset3">
    <h2>Reenviar instrucciones de desbloqueo</h2>

    <%= simple_form_for(resource, as: resource_name, url: unlock_path(resource_name), html: { method: :post }) do |f| %>
      <%= f.input :email, input_html: { autofocus: true } %>

      <%= f.button :submit, 'Reenviar instrucciones', class: 'primary' %>
    <% end %>

    <%= render partial: 'devise/shared/links' %>
  </div>
</div>