<%= render 'surveys/question_type_show_templates/hint' if @question.hint.present? %>
<div class="row">
  <div class="col-md-4">
    <div class="form-inputs">
      <div class="form-group">
        <div class="controls">
          <%= f.input :response, label: false, input_html: {
            placeholder: Reply.human_attribute_name('response'), rows: 4, id: "reply_for_#{@question.object_id}"
          } %>
          <%= f.button :submit, class: 'btn btn-default btn-sm' %>
        </div>
      </div>
    </div>
  </div>
</div>
