<div class="row">
  <div class="col-md-4 hidden-xs">
    &nbsp;
  </div>
  <div class="col-md-4">
    <h3>Código de seguridad</h3>

    <p class="text-error">
      Su código de seguridad ha caducado, por favor pida uno nuevo.
    </p>

    <div class="row">
      <div class="col-md-12">
        <%= simple_form_for(resource, as: resource_name,
            url: password_path(resource_name), html: { method: :post }) do |f| %>

          <div class="form-inputs">
            <%= f.input :email, input_html: { autofocus: true } %>
          </div>

          <div class="form-actions">
            <%= show_button_dropdown(
              link_to('Enviarme las instrucciones', '#', class: 'btn btn-primary submit'),
              devise_links_es
            ) %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
