<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <h3>Código de seguridad</h3>

    <p class="text-danger">
      Su código de seguridad ha caducado, por favor pida uno nuevo.
    </p>

    <%= simple_form_for(resource, as: resource_name,
        url: password_path(resource_name), html: { method: :post }) do |f| %>

      <div class="form-inputs">
        <%= f.input :email, input_html: { autofocus: true } %>
      </div>

      <div class="form-actions">
        <%= f.submit 'Enviarme las instrucciones', class: 'btn btn-primary' %>
      </div>
    <% end %>
  </div>
</div>
