<div class="row">
  <div class="public_form_container span10 offset3">
    <h2>¿Olvidaste tu contraseña?</h2>
    
    <p>
      Ingresa debajo tu dirección de correo y te enviaremos instrucciones para
      restablecerla
    </p>

    <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }, wrapper: :inline) do |f| %>
      <div class="inputs">
        <%= f.input :email, input_html: { autofocus: true } %>
      </div>
      
      <div class="actions">
        <%= f.button :submit, 'Enviarme las instrucciones', class: 'primary' %>
        <%= render partial: 'devise/shared/links' %>
      </div>
    <% end %>
  </div>
</div>