<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <div class="well">
      <h3>¿Olvidaste tu contraseña?</h3>

      <p>
        Ingresa debajo tu dirección de correo y te enviaremos instrucciones para
        restablecerla
      </p>

      <%= simple_form_for(resource, as: resource_name,
          url: password_path(resource_name), html: { method: :post }) do |f| %>

        <div class="form-inputs">
          <%= f.input :email, input_html: { autofocus: true } %>
        </div>

        <div class="form-actions">
          <%= link_to 'Enviarme las instrucciones', '#', class: 'btn btn-primary' %>
        </div>
      <% end %>
    </div>
  </div>
</div>
