<div class="row-fluid">
  <div class="span4 hidden-phone">
    &nbsp;
  </div>
  <div class="public_form_container span4">
    <div class="row-fuild">
      <%= render 'devise/sessions/welcome' %>
    </div>
    <div class="login_footer form-actions">
      <%= link_to('¿Olvidaste tu contraseña?',
        new_password_path(resource_name, embedded: params[:embedded]), 
        id: 'reset-password') %>
    </div>
  </div>
</div>
