<ul class="nav navbar-nav navbar-right">
  <li>
    <a href="https://www.cirope.com/">
      <!--[if lt IE 9]>
        <%= image_tag 'logo.png', size: '63x15', alt: 'Cirope' %>
      <![endif]-->
      <!--[if gt IE 8]><!-->
        <embed src="<%= asset_path 'logo.svg' %>" type="image/svg+xml" width="64" height="15">
      <!--<![endif]-->
    </a>
  </li>
</ul>
