<div class="readonly-data">
  <div class="hidden-phone">
    <br />
    <div class="centered">
      <h3><%= t('view.page.welcome_to', institution: @institution.to_s) %></h3>
    </div>
  </div>

  <%= render template: 'devise/sessions/new', locals: { resource: resource } %>
</div>
