<% classes = ['navbar-form', 'navbar-left'] %>
<% classes << 'hidden' unless @searchable %>
<%= form_for :search, method: :get, html: { class: classes.join(' ') } do %>
  <div class="form-group">
    <%= text_field_tag :q, params[:q],
      class: 'form-control', placeholder: t('label.search') %>
  </div>
<% end %>
