<% if @tags.empty? %>
  <%= render 'shared/empty_index' %>
<% else %>
  <table class="table resource-list">
    <thead>
      <tr>
        <th><%= Tag.human_attribute_name 'name' %></th>
      </tr>
    </thead>

    <tbody>
      <% @tags.each do |tag| %>
        <tr>
          <td><%= tag.name %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>

<% unless request.xhr? %>
  <%= pagination_links(@tags) %>
  <div class="form-actions"></div>
<% end %>
