<section id="error_404" class="alert alert-warning">
  <header>
    <h2>No encontramos lo que estás buscando</h2>
  </header>

  <p>
    Si parece que es algo que deberíamos saber, envianos un correo:
    <a href="mailto:soporte@libreduca.com">soporte@libreduca.com</a>
  </p>

  <p>
    Podés <%= link_to 'volver', :back %> a donde estabas o a la
    <%= link_to 'página principal', root_url %>
  </p>
</section>
