<div class="row-fluid">
  <div class="span2 hidden-phone">
    &nbsp;
  </div>
  <div class="public_form_container span8">
    <div class="row-fuild clearfix">
      <div class="span6 login">
        <%= render 'devise/sessions/login' %>
      </div>
      <div class="span6">
        <%= render 'devise/sessions/welcome' %>
      </div>
    </div>
    <div class="login_footer form-actions">
    </div>
  </div>
</div>
