<div class="row">
  <div class="col-md-4 col-md-offset-2">
    <div class="well">
      <%= render 'devise/sessions/login' %>
    </div>
    <%= link_to(
      '¿Olvidaste tu contraseña?', new_password_path(resource_name)
    ) %>
  </div>
  <div class="col-md-4">
    <%= render 'devise/sessions/welcome' %>
  </div>
</div>
