<div class="row-fluid">
  <div class="public_form_container span8 offset2">
    <div class="row-fluid">
      <div class="span6">
        <%= render 'devise/sessions/login' %>
      </div>
      <div class="span6">
        <%= render 'devise/sessions/welcome' %>
      </div>
    </div>
    <div class="login_footer form-actions"></div>
  </div>
</div>
