<fieldset>
  <div class="row">
    <div class="col-md-10">
      <%= f.input :content, label: false, input_html: {
        autofocus: true, placeholder: Answer.human_attribute_name('content')
      } %>
    </div>
    <div class="col-md-2 nested-actions">
      <%= f.input :id, as: :hidden %>
      <%= f.input :lock_version, as: :hidden %>
      <%= link_to_remove_nested_item(f) %>
    </div>
  </div>
</fieldset>
