<ul class="breadcrumb">
  <li>
    <%= link_to_if can?(:read, @grade.institution), @grade.institution.to_s, @grade.institution %>
    <span class="divider">/</span>
  </li>
  <li>
    <%= link_to_if can?(:read, @grade), @grade.to_s, [@grade.institution, @grade] %>
    <% unless @course.new_record? %>
      <span class="divider">/</span>
    <% end %>
  </li>
  <% unless @course.new_record? %>
    <li class="active"><%= @course %></li>
  <% end %>
</ul>
