// Place all the styles related to the Blocks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.grouped-actions {
  position: absolute;
  bottom: 0.5em;
  right: 0em;
}

.block-container {
  position: relative;
}

.hide {
  display: none;
}

.hidden-actions {
  display: none;
  display: inline-block;
}

.block-container:hover {
  display: inline-block;
}