@import "mixins";

footer.alert {
  position: fixed;
  bottom: 0em;
  left: 4em;
  right: 4em;
}

form {
  .alert {
    margin: 0px 20px;
  }
}

body {
  background-color: #eee;
}

#loading_caption {
  position: fixed;
  top: 0%;
  left: 50%;
  width: 10em;
  margin: 0em 0em 0em -5em;
  padding: .25em 1em;
  text-align: center;
  line-height: 30px;
  z-index: 1100;
}

.badge-link {
  a { color: #fff; }
}

.centered {
  text-align: center;
}

.enter {
  display: block;
  padding: 10px 15px;
}

.embedded {
  padding: 10px 0;
  background-color: #fff;
}

.iconic {
  font-family: "IconicStroke";
  display: inline-block;
  font-size: 1.25em;
  text-decoration: none !important;
}

.iconic.small {
  font-size: 1em;
}

.info {
  cursor: help;
}

.logged-in, #c_chart, #c_news {
  .container > .content {
    background-color: #fff;
    padding-top: 20px;
    @include border-radius(0 0 6px 6px);
    @include box-shadow(0, 1px, 2px, rgba(0,0,0,.15));
  }

  .form-inputs {
    padding: 6px 20px 18px;
  }
}

#new_comment, #new_conversation {
  .form-inputs { padding: 6px 0 18px; }
  .alert { margin: 0; }
}

.logged-in[data-action="index"] {
  .pagination, .page-entries {
    margin-right: 20px;
  }

  .page-entries {
    font-size: .8em;
    margin-top: -18px;
  }
}

.logged-in[data-action="index"],
  .logged-in[data-action="show"],
    #c_chart, #c_news, #c_sessions, #c_passwords, #c_conversations, #c_replies {
  .form-actions {
    padding-left: 20px;
  }

  .readonly-data {
    margin: 0px 20px;

    p { padding: 0; }
  }
}

.login_footer { margin-bottom: 0; }

.ui-autocomplete {
  small {
    display: block;
    font-size: .75em;
    color: #999999;
  }
}

.ui-datepicker-trigger {
  display: none;
}

.avatar-micro {
  color: #999;
  width: 20px;
  font-size: 30px;
}

.tag_color_chooser {
  input[type="radio"] { display: none; }

  span { visibility: hidden; }

  &.selected {
    span { visibility: visible; }
  }
}
