// fix bootstrap small within blockquote
.small-comment {
  font-size: 85%;
}

#comments {
  .comment-anchor {
    display: block;
    height: 30px;
    margin-top: -30px;
    visibility: hidden;
  }
}
