.page-entries {
  display: none;
}

@media (max-width: 480px) {
}

@media (max-width: 767px) {
  .disposable {
    display: none;
  }
}

@media (min-width: 768px) and (max-width: 979px) {  
}

@media (max-width: 979px) {

  .alert {
    left: 0em;
    right: 0em;
  }

  .page-entries {
    display: block;
  }

  .pagination {
    li {
      display: none;
    }

    li.previous_page, li.next {
      display: inline;
    }
  }
}

@media (min-width: 980px) {
}

@media (min-width: 1200px) {
}