.logged-in#c_dashboard {
  .readonly-data {
    margin: 0px 20px;
  }

  .teach-header {
    position: relative;

    span.label {
      position: absolute;
      top: 1em;
      right: 0px;
    }
  }
}
