@import "mixins";

.public_form_container {
  background: #fff;
  margin-top: 2em !important;
  padding-top: 1em;
  border: 1px solid #aaa;
  @include border-radius(8px);
  @include box-shadow(0, 0, 6px, #999);

  form {
    margin-bottom: 0em;

    .form-inputs {
      padding: 6px 20px 18px;
    }

    .form-actions {
       margin-bottom: 0px;
    }
  }

  h3 {
    text-align: center;
    margin-bottom: 18px;
  }

  h3, p {
    padding: 0px 20px;
  }
}

.login {
  border-right: 1px solid #e3e3e3;
}
