.badge-link {
  a { color: #fff; }
}

.img-news {
  margin: 0 20px 10px 0;
}

.launch-modal {
  position: relative;

  .zoom {
    position: absolute;
    top: 10px;
    right: 10px;

    a {
      color: inherit;
      &:hover { text-decoration: none; }
    }
  }
}

.news_info {
  margin: 10px 0;
}

.page-header-sm {
  margin-top: 0 !important;
}
