<fieldset class="row">
  <div class="col-md-10">
    <%= f.input :name, label: false, input_html: {
      autofocus: true, maxlength: 255, placeholder: District.human_attribute_name('name')
    } %>
  </div>
  <div class="col-md-2 nested-actions">
    <%= f.input :id, as: :hidden %>
    <%= f.input :lock_version, as: :hidden %>
    <%= link_to_remove_nested_item(f) %>
  </div>
</fieldset>
