<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title><%= [t('app_name'), @title].compact.join(' | ') %></title>
  <style type="text/css">
    body, #le_mail_content {
      font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
      font-size: 13px;
      line-height: 18px;
      color: #333333;
      background-color: #ffffff;
    }

    #le_mail_content a {
      color: #0088cc;
    }
    
    #le_mail_content a:hover {
      color: #005580;
    }

    #le_mail_content footer {
      display: block;
      border-top: 1px dotted #333333;
      font-size: 0.75em;
      padding-top: 1em;
    }

    #le_mail_content h2 {
      font-size: 1.75em;
      margin-bottom: 1em;
    }
    
    #le_mail_content h3 {
      font-size: 1.25em;
      margin-bottom: 1em;
    }

    #le_mail_content p {
      margin-bottom: 1em;
    }
    
    #le_mail_content pre.hero-unit {
      font-size: 1.5em;
    }
    
    #le_mail_content table {
      margin-bottom: 18px;
      border: 1px solid #dddddd;
      border-left: 0;
      border-collapse: collapsed;
      -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
      border-radius: 4px;
    }
    
    #le_mail_content table th,
    #le_mail_content table td {
      padding: 8px;
      line-height: 18px;
      text-align: left;
      vertical-align: top;
      border-left: 1px solid #dddddd;
    }
    
    #le_mail_content table td {
      border-top: 1px solid #dddddd;
    }
    
    #le_mail_content table th {
      font-weight: bold;
    }
    
    #le_mail_content table thead th {
      vertical-align: bottom;
    }
  </style>
</head>
<body>
  <div id="le_mail_content">
    <%= yield %>
  </div>
</body>
</html>
